body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(36, 43, 66);
}

.titre {
    padding: 0 100px;
    padding-top: 40px;
    color: #FFF;
    line-height: 1.6em;
    font-size: 25px;
    margin-bottom: 30px;
}

.horloge {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horloge::before {
    content: '';
    position: absolute;
    top: 20%;
    right: 20%;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background: linear-gradient(#f9d924, #ff2c24);
    animation: flottant 5s ease-in-out infinite;
}

.horloge::after {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 250px;
    height: 70px;
    border-radius: 10px;
    background: linear-gradient(#849df1, #4524ff);
    animation: flottant 5s ease-in-out infinite;
    animation-delay: -2.5s;
}
@keyframes flottant {
    0%,100% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(-20px);
    }
}

.decompte {
    position: relative;
    width: auto;
    height: 150px;
    background: var(--color);
    opacity: .7;
    z-index: 1000;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(20px);
}

.decompte_header {
    color: #fff;
    display: block;
    text-align: center;
}

.contenuh {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h4 {
    color: seashell;
    text-align: center;
}

#jour {
    font-size: 3em;
}

#heure {
    font-size: 3em;
}

#minute {
    font-size: 3em;
}

#seconde {
    font-size: 3em;
}

.contenuh h4:nth-child(odd) {
    background: rgba(255, 255, 255, .05);
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(255, 255, 255, .1);
}

#seconde {
    color: yellow;
}

.card {
    margin: 25px;
    padding: 15px;
    width: 300px;
    text-align: center;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(255, 255, 255, .3);
    background: rgba(0, 0, 0, .5);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.contenu {
    transition: .5s;
}

p {
 text-align: justify;
 margin-bottom: 20px;
}

.contenu a {
    text-decoration: none;
    background: rgb(143, 132, 201);
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 25px;
    color: #FFF;
    width: 90%;
    margin: 0 10px;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

a {
    text-decoration: none;
}

.fab {
    text-decoration: none;
    font-size: 40px;
    margin: 35px;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    filter: drop-shadow(0 0 6px rgb(51, 51, 151));
}



.fab:hover:first-child {
    box-shadow: 0 0 0 10px rgb(51, 51, 151);
}

.fab:first-child {
    color: rgb(51, 51, 151);
}

.fab:nth-child(2):hover {
    box-shadow: 0 0 0 10px rgb(151, 51, 134);
}

.fab:nth-child(2) {
    color: rgb(151, 51, 134);
}

.fab:nth-child(3):hover {
    box-shadow: 0 0 0 10px rgb(48, 155, 34);
}

.fab:nth-child(3) {
    color: rgb(48, 155, 34);
}

.fab:nth-child(4):hover {
    box-shadow: 0 0 0 10px rgb(160, 27, 27);
}

.fab:nth-child(4) {
    color: rgb(160, 27, 27);
}

.fab:nth-child(5):hover {
    box-shadow: 0 0 0 10px rgb(10, 10, 179);
}

.icon-facebook {
    filter: drop-shadow(0 0 10px rgb(51, 51, 151));
}